
/* Base Styles
--------------------------------------------- */

html
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing: antialiased
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

body
  font-family $body-font
  line-height 1.5em
  text-rendering  optimizeLegibility

h1, h2, h3, h4, h5
  color $slate
  font-family $headline-font
  line-height 1.3em
  text-transform uppercase
  color $slate
  text-align center

h1
  font-size 30px

  +above($sm-phone)
    font-size 34px

  +above($phone)
    font-size 48px

h2
  font-size 32px
  text-align left

h3
  font-size 26px
  color $slate
  padding 60px 0

h4
  font-size 20px
  color $copper
  text-align left
  padding-top 30px

p
  font-family $body-font
  font-size 14px
  line-height 1.6em
  color $slate
  text-align center

  +above($sm-phone)
    font-size 15px

.lead
  font-size 14px
  padding 0

  +above($sm-phone)
    font-size 16px

.cta
  font-family $subheadline-font
  font-size 14px
  margin-top 20px

  +above($sm-phone)
    margin 30px 30px 0 30px
    font-size 16px

  +above($tablet)
    margin-top 50px

a
  text-decoration none
  color $slate
  border-bottom 2px solid $slate
  padding-bottom 1px

  &:link, &:visited
    text-decoration none

  &:hover
    border-bottom 2px solid $drop

ul, .header, .links
  a
    @extends a
    border-bottom 2px solid transparent

    &:hover
      border-bottom 2px solid transparent

img
  width 100%
  height auto
  padding 20px 0

strong
  font-weight bold

em
  font-style: italic

input
  display block
  background transparent
  border 3px solid $ruben
  outline none

#top, #bottom, #left, #right
  background $slate
  position fixed

#left, #right
  top 0
  bottom 0
  width 20px

#left
  left 0

#right
  right 0

#top, #bottom
  left 0
  right 0
  height 20px

#top
  top 0

#bottom
  bottom 0
