
/* Base Styles
--------------------------------------------- */

html
  box-sizing border-box
  font-smoothing antialiased
  text-size-adjust 100%

*, *:before, *:after
  box-sizing inherit

body
  font-family $body-font
  line-height 1.5em
  text-rendering  optimizeLegibility

h1, h2, h3, h4, h5
  color $slate
  font-family $headline-font
  line-height 1.3em
  text-transform uppercase
  text-align center

h1
  font-size 30px

  +above($sm-phone)
    font-size 34px

  +above($phone)
    font-size 48px

h2
  font-size 32px
  text-align left

h3
  color $slate
  font-size 26px
  padding 60px 0

h4
  color $copper
  font-size 20px
  padding-top 30px
  text-align left

p
  color $slate
  font-family $body-font
  font-size 14px
  line-height 1.6em
  text-align center

  +above($sm-phone)
    font-size 15px

.lead
  font-size 14px
  padding 0

  +above($sm-phone)
    font-size 16px

.cta
  font-family $subheadline-font
  font-size 14px
  margin-top 20px

  +above($sm-phone)
    font-size 16px
    margin 30px 30px 0 30px

  +above($tablet)
    margin-top 50px

a
  border-bottom 2px solid $slate
  color $slate
  padding-bottom 1px
  text-decoration none

  &:link, &:visited
    text-decoration none

  &:hover
    border-bottom 2px solid $drop

ul, .header, .links
  a
    @extends a
    border-bottom 2px solid transparent

    &:hover
      border-bottom 2px solid transparent

img
  height auto
  padding 20px 0
  width 100%

strong
  font-weight bold

em
  font-style italic

input
  background transparent
  border 3px solid $ruben
  display block
  outline 0

#top, #bottom, #left, #right
  background $slate
  position fixed

#left, #right
  bottom 0
  top 0
  width 20px

#left
  left 0

#right
  right 0

#top, #bottom
  height 20px
  left 0
  right 0

#top
  top 0

#bottom
  bottom 0
