
/* Font Definitions
--------------------------------------------- */

/* Replace font-name with your fonts of choice

@font-face {
  font-family: 'font-name';
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),  url('../fonts/font-name.otf')  format('opentype'),
       url('../fonts/font-name.woff') format('woff'), url('../fonts/font-name.ttf')  format('truetype'), url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

*/

@font-face {
  font-family: 'Reglo-Bold';
    src: url('../fonts/Reglo-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Reglo-Bold.woff') format('woff'), url('../fonts/Reglo-Bold.ttf')  format('truetype'), url('../fonts/Reglo-Bold.svg#Reglo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Regular.woff') format('woff'), url('../fonts/WorkSans-Regular.ttf')  format('truetype'), url('../fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Medium';
    src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Medium.woff') format('woff'), url('../fonts/WorkSans-Medium.ttf')  format('truetype'), url('../fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf')  format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before
  font-family 'Mono Social Icons Font'
  -webkit-text-rendering optimizeLegibility
  -moz-text-rendering optimizeLegibility
  -ms-text-rendering optimizeLegibility
  -o-text-rendering optimizeLegibility
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  -ms-font-smoothing antialiased
  -o-font-smoothing antialiased
  font-smoothing antialiased
  content attr(title)
  margin-right 0.3em
    font-size: 130%;
