
/* Navigation
--------------------------------------------- */

.header
  @extend .initial-state
  margin-bottom 20px
  margin-top 10px
  position relative
  transition all 600ms $expo

  +above($sm-phone)
    margin-bottom 40px
    margin-top 30px

  +above($phone)
    margin-bottom 80px

  +above($desktop)
    margin-bottom 100px
    margin-top 40px

  img
    display block
    height auto
    margin 0 auto
    width 50px

    +above($sm-phone)
      width 65px
