
/* Homepage
--------------------------------------------- */

body
  padding 100px 100px

.container
  max-width 1200px
  margin 0 auto

.header
  img
    width 45px
    height auto

.content
  margin-top 160px
  overflow hidden

.block
  column(1, cycle: 1, gutter: 0)

  +above($desktop)
    column(1/2, uncycle: 1, cycle: 2, gutter: 10)

  .right
    .hero-image
      max-width 620px

.primary-button
  cursor pointer
  font-family $body-font
  font-size 16px
  display block
  background none
  border none
  margin 0
  padding 0
  position relative
  text-align center
  width 140px
  
  &:focus
    outline 0

  &:hover
    .top
      transform translate(0,-1px)

  &:active
    .top
      transition all 60ms $ease
      transform translate(0, 4px)

  .top
    width 160px
    background white
    padding 6px
    border 2px solid $slate
    transition all 250ms $ease
    transform translate(0, 2px)

  .bottom
    position absolute
    margin-top -2px
    width 160px
    height 10px
    border 2px solid $slate
    border-top none
