
/* Homepage
--------------------------------------------- */

body
  position relative

.initial-state
  top 30px
  opacity 0

.container
  margin 0 auto
  position relative
  height 100vh
  overflow hidden
  padding 0

  +above($sm-phone)
    padding 0

  +above($phone)
    min-height 800px
    padding 0


.hero_content
  position relative
  margin-top 120px
  overflow hidden
  margin 0 auto
  padding 0 15px
  z-index 100

  +above($sm-phone)
    padding 10p

  h1
    max-width 540px
    margin 0 auto

  .lead
    margin 0 auto
    padding 10px 0

    +above($phone)
      max-width 460px

.content
  max-width 620px
  margin 0 auto

.video_content
  width 100%
  overflow hidden
  background $light
  position absolute
  padding 20px 0 0 0
  bottom -10px

  +above($phone)
    padding 60px 0 0 0
    bottom -110px

  .video
    max-width 900px
    display block
    margin 0 auto
    padding 0 20px

    +above($phone)
      padding 0 40px

.feature_content
  position relative
  width 100%
  margin 160px 0
  clear both

.column
  position relative
  margin 0 180px

  .text_left
    padding 60px
    max-width 600px
    float right

  .text_right
    padding 60px
    max-width 600px
    float left

  .image
    max-width 580px

  column(1, cycle: 1, gutter: 1)
  padding-bottom 80px

  +above($tablet)
    column(1/2, cycle: 2, gutter: 5, uncycle: 1)

.signup_content
  clear both
  padding 80px 0
  position relative
  overflow hidden
  margin 0 auto
  background $light

.footer
  img
    width 60px
