
/* Homepage
--------------------------------------------- */

body
  padding 80px 0
  position relative

.initial-state
  top 30px
  opacity 0

.container
  margin 0 auto
  position relative

.header
  position relative
  margin-bottom 100px
  @extend .initial-state

  img
    display block
    width 80px
    height auto
    margin 0 auto

.hero_content
  position relative
  margin-top 120px
  overflow hidden
  margin 0 auto

.content
  max-width 620px
  margin 0 auto

  p
    text-align center
    padding 0 60px
.cta
  font-family $subheadline-font
  font-size 16px
  margin-top 70px

.video_content
  margin 120px 0
  width 100%
  padding 40px 0 0 0
  background $light
  position relative

  .video
    max-width 900px
    display block
    margin 0 auto
    padding 0 40px

.feature_content
  position relative
  width 100%
  margin 160px 0
  clear both

.column
  position relative
  margin 0 180px

  .text_left
    padding 60px
    max-width 600px
    float right

  .text_right
    padding 60px
    max-width 600px
    float left

  .image
    max-width 580px

  column(1, cycle: 1, gutter: 1)
  padding-bottom 80px

  +above($tablet)
    column(1/2, cycle: 2, gutter: 5, uncycle: 1)

.signup_content
  clear both
  padding 80px 0
  position relative
  overflow hidden
  margin 0 auto
  background $light

.footer
  img
    width 60px
