doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='assets/css/main.css', rel='stylesheet')
    
  body
    #left
    #top
    #right
    #bottom
    
    .container
      .header
        a: img(src="assets/images/logo.svg")
        
      .content
        .block.left
          h1 A project management tool for animators.
          h2 A new platform that provides animators with the tools they need to manage, deliver and review their work.
          p Sign up to reserve a spot in our Preview Release.
          
          button(class="primary-button" data-signup) 
            .top Sign up
            .bottom
        
        .block.right
          img(src="assets/images/temp-hero.png" class="hero-image")

      include ./partials/signup-form

    script(src='assets/js/vendor.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js')
    script(src='assets/js/main.js')
