doctype html
html(lang="en")
  head
    title= Anni
    meta(name='viewport', content='initial-scale=1')
    link(href='assets/css/main.css', rel='stylesheet')
    
  body
    .container
      .header
        a: img(src="assets/images/logo.svg" class="logo")
        
      .hero_content
        .content
          h1 MEET ANNI, YOUR NEW DIGITAL ANIMATION ASSISTANT
          p.lead Anni makes it easy to start, review and manage your work, leaving you with more time to do what you do best.
          
          p.cta Sign up for the Preview Release and be the first to meet Anni!

          include ./partials/signup-form
      
      .video_content
        img.video(src="assets/images/computer-image.png")
      
      
      
      .feature_content
        .column
          .text_left
            h2 Dynamic Deliverables
            p.lead Stop sending PDFs, emails and video links! Your work is dynamic and your deliverables should be too.  Anni makes it easy to deliver across all platforms and keep everyone’s feedback in one place. 
            
            h4 Project Review Hub
            p Build a review page that is ready and optimized for any platform.  This is the most efficient way to get your work and ideas across your team and in front of your client. 
            
            h4 One Click Sharing
            p Once you put together the review, simply click the share button and Anni will notify your client. 
            
            h4 Real-time feedback
            p Anni can tell you when your client views a deliverable and how long they spend looking at each section.
        
        .column
          .image
            img(src="assets/images/feature_image_02.png")



      .feature_content
        .column
          .image
            img(src="assets/images/feature_image_02.png")

        .column
          .text_right
            h2 Faster Approvals
            p.lead Say goodbye to the email feedback loop because it just doesn’t work. Instead Anni makes it ridiculously easy to share your projects and get real-time feedback on them. Also there’s full transparency on what was said.
            
            h4 Contextual Feedback
            p Comment on anything!  Animation frames, styleframes, script, you name it!  Anything that can be reviewed, can be. 
            
            h4 Automated To-Do Lists
            p Anni will fetch all feedback items and add them to the project’s to-do list for easier tracking and management.
        
        
        
      .feature_content
        .column
          .text_left
            h2 Optimized Workflow
            p.lead Anni can work within your pipeline, speeding up your delivery process and improving your workflow.  This means that you can upload to your review page directly from After Effects and patch animations without needing to re-render. 
            
            h4 Instant Progressive Uploads
            p Anni uploads your animation as it renders and allows you to preview in realtime.
            
            h4 Patch Renders with Ease
            p No more re-renders! Anni lets you patch an animation without having to re-render the entire animation again.
        
        .column
          .image
            img(src="assets/images/feature_image_02.png")
      
      .signup_content
        .content
          h3 Ready to meet Anni?
          p Join the wait list for the Preview Release
          include ./partials/signup-form
      
      .footer
        p Copyright ©2016 Anni. All rights reserved. 
        // a: img(src="assets/images/logo.svg" class="logo")


    script(src='assets/js/vendor.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js')
    script(src='assets/js/main.js')
