doctype html
html(lang="en")
  head
    title= Anni
    meta(name='viewport', content='initial-scale=1')
    link(href='assets/css/main.css', rel='stylesheet')
    
  body
    .container
      .header
        a: img(src="assets/images/logo.svg" class="logo")
        
      .hero_content
        .content
          h1 MEET ANNI, YOUR NEW ANIMATION ASSISTANT
          p.lead Anni makes it easy to start, review and manage your work, leaving you with more time to do what you do best.
          
          p.cta Sign up for the preview release and be the first to meet Anni!

          include ./partials/signup-form
      
      .video_content
        img.video(src="assets/images/computer-image.gif")
      
    script(src='assets/js/vendor.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js')
    script(src='assets/js/main.js')
