.signup-form
  padding 20px
  align-items center
  position relative
  left 40px
  margin-top 20px

  .fields
    float left
    height 45px

    .left
      float left
      width 210px
      margin 0 6px

    .right
      float right
      width: 210px
      margin 0 6px

.submit-button
  line-height 1
  margin 0 10px
  float left
  border 3px solid $slate
  padding px 30px 6px 30px
  border-radius 100px
  background white
  cursor pointer
  display block
  width 40px
  height 40px
  transition all 600ms $bounce

  &:hover
    border-color $copper
    transform scale(1.1)

  &:active
    transform scale(.9)

  .arrow
    top 0
    margin -14px 0 0 2px

.signup-form__success
  padding-left 1rem
  padding-right 1rem
  max-width 320px
  margin-left auto
  margin-right auto

.form-input
  font-size 16px
  font-family $body-font
  box-shadow none
  border none
  border-bottom 1px solid $concrete
  line-height 2rem
  margin-bottom .5rem
  width 100%
  color $wash

input:focus
  color $slate
  border-color $copper
  outline none

button:focus
  outline none
