form.signup-form#signup(action='http://anni.us12.list-manage1.com/subscribe/post-json?&c=?', method='POST')
  input(type='hidden', name='u', value='6fd72224eeda112855f0dd969')
  input(type='hidden', name='id', value='9695b56e74')
  input(type='hidden', name='orig-lang', value='1')
  div.stagger-out
    label(for='MERGE0')
      | Email Address 
    span.req.asterisk *
    input.form-input#MERGE0(type='email', autocapitalize='off', autocorrect='off', name='MERGE0', size='25', value='')
  div.stagger-out
    label(for='MERGE1') First Name
    input.form-input#MERGE1(type='text', name='MERGE1', size='25', value='')
  div.stagger-out
    label(for='MERGE2') Last Name
    input.form-input#MERGE2(type='text', name='MERGE2', size='25', value='')
  .hidden-from-view(aria-hidden='true')
    input(type='text', name='b_6fd72224eeda112855f0dd969_9695b56e74', tabindex='-1', value='')
  div.signup-form__footer.stagger-out
    button.primary-button(type='submit', name='submit')
      .top Sign up
      .bottom
  button.signup-form__cancel(data-cancel-signup, type='button') &#215;
