form.signup-form#signup(action='http://anni.us12.list-manage1.com/subscribe/post-json?&c=?', method='POST')
  input(type='hidden', name='u', value='6fd72224eeda112855f0dd969')
  input(type='hidden', name='id', value='9695b56e74')
  input(type='hidden', name='orig-lang', value='1')
  .fields
    .left
      input.form-input#MERGE1(type='text', name='MERGE1', size='25', value='Your Name' onfocus="if(this.value == 'Your Name') { this.value = ''; }")
    .right
      input.form-input#MERGE0(type='email', autocapitalize='off', autocorrect='off', name='MERGE0', size='25', value='Your Email' onfocus="if(this.value == 'Your Email') { this.value = ''; }")

  button.submit-button(type='submit', name='submit')
      .arrow
        img(src="assets/images/arrow.svg")
